In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('Brooklyn_Bridge_Automated_Pedestrian_Counts_Demonstration_Project_20251014.csv')
df.head()

,hour_beginning,location,Pedestrians,Towards Manhattan,Towards Brooklyn,weather_summary,temperature,precipitation,lat,long,events,Location1
0,2019 Apr 30 12:00:00 AM,Brooklyn Bridge,3,3,0,NaN,NaN,NaN,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
1,2019 Dec 31 10:00:00 PM,Brooklyn Bridge,10,9,1,cloudy,42.0,0.0005,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
2,2019 Dec 31 11:00:00 PM,Brooklyn Bridge,2,0,2,cloudy,42.0,0.0004,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
3,2019 Dec 31 09:00:00 PM,Brooklyn Bridge,12,0,12,cloudy,42.0,0.0036,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
4,2019 Apr 01 03:00:00 AM,Brooklyn Bridge,1,0,1,clear-night,36.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"

In [3]:
df.shape

(16057, 12)

In [4]:
df.dtypes

hour_beginning        object
location              object
Pedestrians           object
Towards Manhattan     object
Towards Brooklyn      object
weather_summary       object
temperature          float64
precipitation        float64
lat                  float64
long                 float64
events                object
Location1             object
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16057 entries, 0 to 16056
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hour_beginning     16057 non-null  object
 1   location           16057 non-null  object
 2   Pedestrians        16057 non-null  object
 3   Towards Manhattan  16057 non-null  object
 4   Towards Brooklyn   16057 non-null  object
 5   weather_summary    16041 non-null  object
 6   temperature        16041 non-null  float64
 7   precipitation      16041 non-null  float64
 8   lat                16057 non-null  float64
 9   long               16057 non-null  float64
 10  events             1124 non-null   object
 11  Location1          16057 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.5+ MB

In [ ]:
df['hour_beginning'] = pd.to_datetime(df['hour_beginning']) # convert to datetime
df.info()
df['hour_beginning'].head(5)

/var/folders/jq/y2kzd93d76jbj3szdx797mkh0000gn/T/ipykernel_52728/168648140.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['hour_beginning'] = pd.to_datetime(df['hour_beginning'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16057 entries, 0 to 16056
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hour_beginning     16057 non-null  datetime64[ns]
 1   location           16057 non-null  object
 2   Pedestrians        16057 non-null  object
 3   Towards Manhattan  16057 non-null  object
 4   Towards Brooklyn   16057 non-null  object
 5   weather_summary    16041 non-null  object
 6   temperature        16041 non-null  float64
 7   precipitation      16041 non-null  float64
 8   lat                16057 non-null  float64
 9   long               16057 non-null  float64
 10  events             1124 non-null   object
 11  Location1          16057 non-null  object
dtypes: datetime64[ns](1), float64(4), object(7)
memory usage: 1.5+ MB

0   2019-04-30 00:00:00
1   2019-12-31 22:00:00
2   2019-12-31 23:00:00
3   2019-12-31 21:00:00
4   2019-04-01 03:00:00
Name: hour_beginning, dtype: datetime64[ns]

In [7]:
# df['hour_beginning']를 월, 일, 요일, 시간으로 나누기
df['hour'] = df['hour_beginning'].dt.hour
df['month'] = df['hour_beginning'].dt.month
df['date'] = df['hour_beginning'].dt.date
df['day_name'] = df['hour_beginning'].dt.day_name()

df.head()

,hour_beginning,location,Pedestrians,Towards Manhattan,Towards Brooklyn,weather_summary,temperature,precipitation,lat,long,events,Location1,hour,month,date,day_name
0,2019-04-30 00:00:00,Brooklyn Bridge,3,3,0,NaN,NaN,NaN,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",0,4,2019-04-30,Tuesday
1,2019-12-31 22:00:00,Brooklyn Bridge,10,9,1,cloudy,42.0,0.0005,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",22,12,2019-12-31,Tuesday
2,2019-12-31 23:00:00,Brooklyn Bridge,2,0,2,cloudy,42.0,0.0004,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",23,12,2019-12-31,Tuesday
3,2019-12-31 21:00:00,Brooklyn Bridge,12,0,12,cloudy,42.0,0.0036,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",21,12,2019-12-31,Tuesday
4,2019-04-01 03:00:00,Brooklyn Bridge,1,0,1,clear-night,36.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",3,4,2019-04-01,Monday

In [8]:
df.isnull().sum()

hour_beginning           0
location                 0
Pedestrians              0
Towards Manhattan        0
Towards Brooklyn         0
weather_summary         16
temperature             16
precipitation           16
lat                      0
long                     0
events               14933
Location1                0
hour                     0
month                    0
date                     0
day_name                 0
dtype: int64

In [9]:
df.loc[df['events'].notnull()]

,hour_beginning,location,Pedestrians,Towards Manhattan,Towards Brooklyn,weather_summary,temperature,precipitation,lat,long,events,Location1,hour,month,date,day_name
5,2019-12-25 14:00:00,Brooklyn Bridge,"3,171","1,685","1,486",clear-day,44.0,0.0000,40.708164,-73.999509,Christmas Day,"(40.7081639691088, -73.9995087014816)",14,12,2019-12-25,Wednesday
65,2019-10-31 00:00:00,Brooklyn Bridge,13,11,2,cloudy,61.0,0.0000,40.708164,-73.999509,Halloween,"(40.7081639691088, -73.9995087014816)",0,10,2019-10-31,Thursday
76,2019-03-17 23:00:00,Brooklyn Bridge,1,0,1,clear-night,37.0,0.0000,40.708164,-73.999509,St. Patrick's Day,"(40.7081639691088, -73.9995087014816)",23,3,2019-03-17,Sunday
78,2019-02-18 16:00:00,Brooklyn Bridge,"1,439",622,817,partly-cloudy-day,40.0,0.0002,40.708164,-73.999509,Presidents' Day (regional holiday),"(40.7081639691088, -73.9995087014816)",16,2,2019-02-18,Monday
89,2019-09-02 01:00:00,Brooklyn Bridge,0,0,0,partly-cloudy-night,69.0,0.0000,40.708164,-73.999509,Labor Day,"(40.7081639691088, -73.9995087014816)",1,9,2019-09-02,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15962,2018-07-04 16:00:00,Brooklyn Bridge,"2,726","2,726",0,partly-cloudy-day,82.0,0.0133,40.708164,-73.999509,Independence Day,"(40.7081639691088, -73.9995087014816)",16,7,2018-07-04,Wednesday
15990,2018-07-04 12:00:00,Brooklyn Bridge,"2,010","1,073",937,partly-cloudy-day,84.0,0.0000,40.708164,-73.999509,Independence Day,"(40.7081639691088, -73.9995087014816)",12,7,2018-07-04,Wednesday
15997,2018-06-17 23:00:00,Brooklyn Bridge,353,168,185,clear-night,74.0,0.0000,40.708164,-73.999509,Father's Day,"(40.7081639691088, -73.9995087014816)",23,6,2018-06-17,Sunday
16017,2018-06-17 03:00:00,Brooklyn Bridge,16,11,5,clear-night,66.0,0.0000,40.708164,-73.999509,Father's Day,"(40.7081639691088, -73.9995087014816)",3,6,2018-06-17,Sunday
16024,2018-06-17 14:00:00,Brooklyn Bridge,"2,038",897,"1,141",clear-day,86.0,0.0000,40.708164,-73.999509,Father's Day,"(40.7081639691088, -73.9995087014816)",14,6,2018-06-17,Sunday

In [10]:
min_dt = df.hour_beginning.min()
max_dt = df.hour_beginning.max()

print(min_dt)
print(max_dt)

2017-10-01 00:00:00
2019-12-31 23:00:00

In [11]:
expected_range = pd.date_range(start = min_dt, end = max_dt, freq = 'H')
expected_range

/var/folders/jq/y2kzd93d76jbj3szdx797mkh0000gn/T/ipykernel_52728/919560402.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  expected_range = pd.date_range(start = min_dt, end = max_dt, freq = 'H')

DatetimeIndex(['2017-10-01 00:00:00', '2017-10-01 01:00:00',
               '2017-10-01 02:00:00', '2017-10-01 03:00:00',
               '2017-10-01 04:00:00', '2017-10-01 05:00:00',
               '2017-10-01 06:00:00', '2017-10-01 07:00:00',
               '2017-10-01 08:00:00', '2017-10-01 09:00:00',
               ...
               '2019-12-31 14:00:00', '2019-12-31 15:00:00',
               '2019-12-31 16:00:00', '2019-12-31 17:00:00',
               '2019-12-31 18:00:00', '2019-12-31 19:00:00',
               '2019-12-31 20:00:00', '2019-12-31 21:00:00',
               '2019-12-31 22:00:00', '2019-12-31 23:00:00'],
              dtype='datetime64[ns]', length=19728, freq='h')

In [12]:
missing_hours = expected_range.difference(df['hour_beginning'])
print(missing_hours)

DatetimeIndex(['2018-08-01 00:00:00', '2018-08-01 01:00:00',
               '2018-08-01 02:00:00', '2018-08-01 03:00:00',
               '2018-08-01 04:00:00', '2018-08-01 05:00:00',
               '2018-08-01 06:00:00', '2018-08-01 07:00:00',
               '2018-08-01 08:00:00', '2018-08-01 09:00:00',
               ...
               '2018-12-31 14:00:00', '2018-12-31 15:00:00',
               '2018-12-31 16:00:00', '2018-12-31 17:00:00',
               '2018-12-31 18:00:00', '2018-12-31 19:00:00',
               '2018-12-31 20:00:00', '2018-12-31 21:00:00',
               '2018-12-31 22:00:00', '2018-12-31 23:00:00'],
              dtype='datetime64[ns]', length=3672, freq='h')

In [13]:
df = df.sort_values(by = 'hour_beginning')
df.head()

,hour_beginning,location,Pedestrians,Towards Manhattan,Towards Brooklyn,weather_summary,temperature,precipitation,lat,long,events,Location1,hour,month,date,day_name
8846,2017-10-01 00:00:00,Brooklyn Bridge,44,30,14,clear-night,52.0,0.0001,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",0,10,2017-10-01,Sunday
9473,2017-10-01 01:00:00,Brooklyn Bridge,30,17,13,partly-cloudy-night,53.0,0.0002,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",1,10,2017-10-01,Sunday
10098,2017-10-01 02:00:00,Brooklyn Bridge,25,13,12,partly-cloudy-night,52.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",2,10,2017-10-01,Sunday
10733,2017-10-01 03:00:00,Brooklyn Bridge,20,11,9,partly-cloudy-night,51.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",3,10,2017-10-01,Sunday
11527,2017-10-01 04:00:00,Brooklyn Bridge,18,10,8,partly-cloudy-night,51.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",4,10,2017-10-01,Sunday

In [14]:
df.reset_index(drop=True, inplace = True)
df.head()

,hour_beginning,location,Pedestrians,Towards Manhattan,Towards Brooklyn,weather_summary,temperature,precipitation,lat,long,events,Location1,hour,month,date,day_name
0,2017-10-01 00:00:00,Brooklyn Bridge,44,30,14,clear-night,52.0,0.0001,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",0,10,2017-10-01,Sunday
1,2017-10-01 01:00:00,Brooklyn Bridge,30,17,13,partly-cloudy-night,53.0,0.0002,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",1,10,2017-10-01,Sunday
2,2017-10-01 02:00:00,Brooklyn Bridge,25,13,12,partly-cloudy-night,52.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",2,10,2017-10-01,Sunday
3,2017-10-01 03:00:00,Brooklyn Bridge,20,11,9,partly-cloudy-night,51.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",3,10,2017-10-01,Sunday
4,2017-10-01 04:00:00,Brooklyn Bridge,18,10,8,partly-cloudy-night,51.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)",4,10,2017-10-01,Sunday

In [15]:
df['temperature'] = df['temperature'].fillna(method='ffill')
df['precipitation'] = df['precipitation'].fillna(method='ffill')
df['weather_summary'] = df['weather_summary'].fillna(method='ffill') # use forward fill to fill missing weather summary

/var/folders/jq/y2kzd93d76jbj3szdx797mkh0000gn/T/ipykernel_52728/1686783461.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['temperature'] = df['temperature'].fillna(method='ffill')
/var/folders/jq/y2kzd93d76jbj3szdx797mkh0000gn/T/ipykernel_52728/1686783461.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['precipitation'] = df['precipitation'].fillna(method='ffill')
/var/folders/jq/y2kzd93d76jbj3szdx797mkh0000gn/T/ipykernel_52728/1686783461.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['weather_summary'] = df['weather_summary'].fillna(method='ffill') # use forward fill to fill missing weather summary

In [16]:
df.isnull().sum()

hour_beginning           0
location                 0
Pedestrians              0
Towards Manhattan        0
Towards Brooklyn         0
weather_summary          0
temperature              0
precipitation            0
lat                      0
long                     0
events               14933
Location1                0
hour                     0
month                    0
date                     0
day_name                 0
dtype: int64

In [17]:
# only numeric data
df.describe()

,hour_beginning,temperature,precipitation,lat,long,hour,month
count,16057,16057.000000,16057.000000,16057.000000,1.605700e+04,16057.000000,16057.000000
mean,2018-11-22 23:25:25.913931776,53.205892,0.004613,40.708164,-7.399951e+01,11.499346,6.347076
min,2017-10-01 00:00:00,2.000000,0.000000,40.708164,-7.399951e+01,0.000000,1.000000
25%,2018-03-17 06:00:00,39.000000,0.000000,40.708164,-7.399951e+01,5.000000,3.000000
50%,2019-01-31 12:00:00,53.000000,0.000000,40.708164,-7.399951e+01,11.000000,6.000000
75%,2019-07-17 18:00:00,69.000000,0.000000,40.708164,-7.399951e+01,17.000000,10.000000
max,2019-12-31 23:00:00,97.000000,0.680400,40.708164,-7.399951e+01,23.000000,12.000000
std,NaN,18.036476,0.023389,0.000000,1.421130e-14,6.922682,3.544812

In [18]:
df.weather_summary.value_counts()

weather_summary
clear-night            3755
partly-cloudy-day      3169
clear-day              3127
partly-cloudy-night    2508
cloudy                 2383
rain                    920
snow                     93
fog                      76
sleet                    14
wind                     12
Name: count, dtype: int64

In [19]:
df.groupby('weather_summary')['precipitation'].describe()

,count,mean,std,min,25%,50%,75%,max
weather_summary,,,,,,,,
clear-day,3127.0,0.000235,0.001193,0.0000,0.000000,0.0000,0.000000,0.0241
clear-night,3755.0,0.000055,0.000455,0.0000,0.000000,0.0000,0.000000,0.0157
cloudy,2383.0,0.001705,0.005100,0.0000,0.000000,0.0000,0.000500,0.1090
fog,76.0,0.003432,0.005740,0.0000,0.000000,0.0009,0.003650,0.0246
partly-cloudy-day,3169.0,0.000839,0.002985,0.0000,0.000000,0.0000,0.000000,0.0480
partly-cloudy-night,2508.0,0.000904,0.003619,0.0000,0.000000,0.0000,0.000000,0.1000
rain,920.0,0.065898,0.071727,0.0006,0.025500,0.0433,0.080150,0.6804
sleet,14.0,0.061729,0.066759,0.0089,0.029025,0.0399,0.056975,0.2284
snow,93.0,0.025419,0.030711,0.0013,0.011500,0.0168,0.026700,0.2029
wind,12.0,0.002450,0.006447,0.0000,0.000000,0.0000,0.001075,0.0225

In [20]:
df.groupby('month')['temperature'].describe()

        count       mean        std   min   25%   50%    75%   max
month
1      1488.0  31.140457  11.459811   2.0  24.0  31.0  39.00  60.0
2      1344.0  37.706101   9.723386  10.0  31.0  37.0  43.00  75.0
3      1488.0  39.809140   7.925757  18.0  34.0  39.0  45.00  69.0
4      1440.0  50.865278   9.304510  31.0  43.0  51.0  57.25  79.0
5      1488.0  63.358199   9.183699  43.0  56.0  63.0  69.00  90.0
6      1440.0  71.056250   7.499476  52.0  66.0  71.0  76.00  91.0
7      1488.0  77.695565   6.300003  62.0  73.0  77.0  82.00  97.0
8       744.0  74.668011   5.929941  61.0  71.0  74.0  79.00  90.0
9       720.0  69.451389   6.882513  50.0  64.0  69.0  74.00  88.0
10     1488.0  60.635753   8.061906  40.0  55.0  60.0  66.00  92.0
11     1441.0  44.060375   8.779543  22.0  38.0  44.0  50.00  72.0
12     1488.0  35.851478   9.679955   9.0  31.0  36.0  42.00  59.0

In [21]:
df.groupby('month')['weather_summary'].value_counts()

month  weather_summary
1      clear-night            457
       partly-cloudy-night    295
       clear-day              257
       partly-cloudy-day      199
       cloudy                 192
                             ...
12     partly-cloudy-day      165
       rain                   122
       fog                     13
       snow                    11
       sleet                    4
Name: count, Length: 94, dtype: int64

In [24]:
# sns.pairplot(df, vars = ['Pedestrians', 'temperature', 'precipitation', 'hour', 'month'], plot_kws = {'alpha':0.5, 'size':0.1})

In [ ]:
df.groupby('month')['temperature'].describe()

In [ ]:
import matplotlib as plt

In [ ]:
# histgram
# plt.figure(figsize=(10,10))
# plt.histplot(data=df, x = 'Pedestrian')
# plt.title('Histogram of Pedestrians on BB')
# plt.xlabel('Pedestrian Count')
# plt.ylabel('Frequenct')
# plt.show()

In [ ]:
# scatterplot - - missed

In [ ]:
# bar chart

In [ ]:
# box plot
# interquantile range(IQR) = Q3 - Q1
plt.figure(figsize = (10,6))
sns.boxplot(data=df, x = 'weather_summary', y='Pedestrians')
plt.title('Pedestrian Counts by Weather Summary')
plt.xlabel('Weather Summary')
plt.ylabel('Pedestrian Count')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
# heatmap
# correlation != causation

plt.figure(figsize=(8,6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matriz of Pedestrians, Temparature, and Precipitation')
plt.tight_layout()
plt.show()